section:hover {
    cursor: pointer;
  }
  
  svg {
    stroke-width: 1%;
    height: calc(var(--height) * 1vh);
    width: calc(var(--width) * 1vh);
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
  
    & p {
      font-size: 2vh;
    }
  
  }
  
  .not-selected {
    fill: var(--stroke);
    color: var(--stroke);
  }
  .selected {
    fill: red;
    color: red;
  }
  